<%- include('../partials/header') -%>

    <div class="container w-50 mt-5">
        <h1 class="text-danger">404. This page does not exist.</h1>
        <a href="/login">Go to Login.</a>
    </div>


<%- include('../partials/footer') -%>