<div class="wrapper">
    <nav id="sidebar">
 
       <ul class="list-unstyled components">
          <li>
             <a href="/dashboard"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard</a>
          </li>
 
          <li>
             <a href="/update"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Update</a>
          </li>
 
 
          <li>
             <a href="/product/new"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New Product</a>
          </li>
          <li>
             <a href="/product/search"><i class="fas fa-search"></i>&nbsp;&nbsp;Search Product</a>
          </li>
 
          <li>
             <a href="#walmartSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                   class="fab fa-wikipedia-w"></i>&nbsp;&nbsp;Walmart</a>
             <ul class="collapse list-unstyled" id="walmartSubmenu">
                <li>
                   <a href="/products/instock"><i class="fas fa-arrow-circle-up"></i>&nbsp;&nbsp;In Stock</a>
                </li>
 
                <li>
                   <a href="/products/outofstock"><i class="fas fa-arrow-circle-down"></i>&nbsp;&nbsp;Out of Stock</a>
                </li>
 
                <li>
                   <a href="/products/pricechanged"><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Price Changed</a>
                </li>
 
                <li>
                   <a href="/products/backinstock"><i class="fas fa-backward"></i>&nbsp;&nbsp;Back In Stock</a>
                </li>
             </ul>
          </li>
 
          <li>
             <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                   class="fas fa-user"></i>&nbsp;&nbsp;Users</a>
             <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                   <a href="/signup"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New User</a>
                </li>
 
                <li>
                   <a href="/users/all"><i class="fas fa-eye"></i>&nbsp;&nbsp;View Users</a>
                </li>
             </ul>
          </li>
 
       </ul>
    </nav>
 </div>